<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oneapp.onechat.androidapp"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- <uses-permission -->
    <!-- android:name="android.permission.WRITE_SECURE_SETTINGS" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->


    <!-- 音频 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 开始 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 腾讯地图 SDK 要求的权限(开始) -->
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问WiFi状态，需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 腾讯地图 SDK 要求的权限(结束) -->

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="oneapp.onechat.chat.WalletApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeNoTitleBar">

        <!-- android:resizeableActivity="true" -->
        <!-- android:largeHeap="true" -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name="oneapp.onechat.chat.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="onechat.one"
                    android:scheme="onechatapp" />
            </intent-filter>
        </activity>

        <activity
            android:name="oneapp.onechat.chat.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="oneapp.onechat.chat.view.RegisterGuideActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="oneapp.onechat.chat.view.AccountCreateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="oneapp.onechat.chat.view.AccountRestoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="oneapp.onechat.chat.view.ShowSeedActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name="oneapp.onechat.chat.view.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />

        <activity
            android:name="oneapp.onechat.chat.view.SelectSkinActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />

        <activity
            android:name="oneapp.onechat.chat.view.NotificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="oneapp.onechat.chat.view.SelectLangurageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />

        <activity
            android:name="oneapp.onechat.chat.view.AddServiceNodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name="oneapp.onechat.chat.view.SetUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a1523118f4a9d2f84000145" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- ShareSDK -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="22ae18d2ab76c" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="79f89ba63a142c1721b1c6e8cb7b9143" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!--
            	AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                android:name="AuthorizeAdapter"
                android:value="cn.sharesdk.demo.MyAdapter" />
            <meta-data
                android:name="FBWebShareAdapter"
                android:value="cn.sharesdk.demo.FBWebShareAdapter" />

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 集成Line客户端登录授权，需要添加如下格式的过滤器 -->
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="line.1477692153" />
            </intent-filter>
        </activity>
    </application>

</manifest>